.cardProduct {
  width: 280px;
  min-height: 371px;
  padding: 16px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 18px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .description {
    font-weight: 500;
    margin-bottom: 10px;
    white-space: initial;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-word;
  }
  .img {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
      transform: scale(1.03);
    }
    height: 255px;
  }
  .imgProduct {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .ratingProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #b6bac2;
    font-size: 15px;
    &__container {
      display: flex;
      align-items: center;
      .rating {
        color: rgb(255, 201, 0);
        margin-right: 5px;
      }
    }
  }
  .cardAddContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    .addedCount {
      color: black;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-left: 4px;
      opacity: 0.6;
    }
  }
  .cartAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;

    .price {
      font-weight: bold;
      font-size: 24px;
    }
    button {
      background-color: green;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      transition: all 0.2s;
      &:hover {
        opacity: 0.6;
      }
      cursor: pointer;
      &:active {
        transform: translateY(2px);
      }
      .cart {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}
