node_modules
build
dist
coverage
package.json
package-lock.json
.eslintrc.json
jest.config.js
src/models/migrations
src/models/config
cypress/e2e/
webpack.config.js
**/*.test.ts
sonarqube-scanner.js
production.config.js
development.config.js
vite.config.ts
cypress.config.ts
vite.config.ts
vite-build-css.config.ts
vite-build-rollup.config.ts