header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f3f2f2;
  background-color: #fff;
  .cartBtn {
    display: flex;
    padding: 8px 20px;
    background-color: red;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    transition: all 0.2s;
    &:hover {
      background-color: rgb(238, 24, 24);
    }
    .cartBtn__razdel {
      background: rgb(255, 255, 255);
      width: 1px;
      height: 24px;
      margin: 0px 12px;
      opacity: 0.4;
    }
  }
}

.logo {
  display: flex;
  cursor: pointer;
  .logoSvg {
    padding-right: 3px;
  }
  h2 {
    border-left: 3px solid black;
    padding-left: 3px;
    font-weight: bold;
  }
}
