@import "./libs/normilize";
@import "./libs/mixins";

body {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
.container {
  padding: 0 100px;
  @media (max-width: 1396px) {
    padding: 0 50px;
  }
  @media (max-width: 886px) {
    padding: 0 10px;
  }
}
