.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    background-color: #f6f6f6;
    flex-grow: 1;
    .contentMain {
      padding: 32px 0 60px 0;
    }
  }
}
